USE [master]
GO
/****** Object:  Database [AtomSkills]    Script Date: 30.07.2020 16:23:19 ******/
CREATE DATABASE [AtomSkills]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AtomSkills', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AtomSkills.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AtomSkills_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AtomSkills_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AtomSkills].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AtomSkills]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FunctionsRole]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionsRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRole] [int] NOT NULL,
	[IDFunction] [int] NOT NULL,
 CONSTRAINT [PK_FunctionsRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IDSupplier] [int] NOT NULL,
	[AddressFrom] [nvarchar](50) NOT NULL,
	[AddressTo] [nvarchar](50) NOT NULL,
	[IDStatus] [int] NOT NULL,
	[IDTrans] [int] NOT NULL,
	[IDOperator] [int] NOT NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SystemName] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateFinish] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesUser]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[IDRole] [int] NOT NULL,
 CONSTRAINT [PK_RolesUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportImages]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTransport] [int] NOT NULL,
	[Image] [image] NOT NULL,
 CONSTRAINT [PK_TransportImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transports]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDBrand] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [bigint] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[DateOff] [datetime] NULL,
 CONSTRAINT [PK_Transports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.07.2020 16:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[Gender] [bit] NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](14) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([ID], [Name]) VALUES (1, N'Northrop')
INSERT [dbo].[Brands] ([ID], [Name]) VALUES (2, N'DJI')
INSERT [dbo].[Brands] ([ID], [Name]) VALUES (3, N'Toyota')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Functions] ON 

INSERT [dbo].[Functions] ([ID], [Name]) VALUES (1, N'Профиль')
INSERT [dbo].[Functions] ([ID], [Name]) VALUES (2, N'Управление ролями')
INSERT [dbo].[Functions] ([ID], [Name]) VALUES (3, N'Управление пользователями')
SET IDENTITY_INSERT [dbo].[Functions] OFF
GO
SET IDENTITY_INSERT [dbo].[FunctionsRole] ON 

INSERT [dbo].[FunctionsRole] ([ID], [IDRole], [IDFunction]) VALUES (1, 1, 1)
INSERT [dbo].[FunctionsRole] ([ID], [IDRole], [IDFunction]) VALUES (2, 1, 2)
INSERT [dbo].[FunctionsRole] ([ID], [IDRole], [IDFunction]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[FunctionsRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [Date], [IDSupplier], [AddressFrom], [AddressTo], [IDStatus], [IDTrans], [IDOperator], [Price]) VALUES (3, CAST(N'2020-07-30T00:00:00.000' AS DateTime), 5, N'Томск', N'Москва', 1, 3, 5, 2000.0000)
INSERT [dbo].[Orders] ([ID], [Date], [IDSupplier], [AddressFrom], [AddressTo], [IDStatus], [IDTrans], [IDOperator], [Price]) VALUES (5, CAST(N'2020-07-30T00:00:00.000' AS DateTime), 5, N'Новосибирск', N'Москва', 1, 3, 5, 5000.0000)
INSERT [dbo].[Orders] ([ID], [Date], [IDSupplier], [AddressFrom], [AddressTo], [IDStatus], [IDTrans], [IDOperator], [Price]) VALUES (9, CAST(N'2020-07-30T15:51:37.767' AS DateTime), 5, N'123', N'123', 2, 3, 5, 240.0000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [SystemName], [Name], [DateStart], [DateFinish]) VALUES (1, N'admin', N'Администратор', CAST(N'2020-07-29T00:00:00.000' AS DateTime), CAST(N'2020-08-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Roles] ([ID], [SystemName], [Name], [DateStart], [DateFinish]) VALUES (7, N'User', N'Пользователь', CAST(N'2020-07-30T00:00:00.000' AS DateTime), CAST(N'2020-08-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesUser] ON 

INSERT [dbo].[RolesUser] ([ID], [IDUser], [IDRole]) VALUES (7, 5, 1)
SET IDENTITY_INSERT [dbo].[RolesUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([ID], [Name]) VALUES (1, N'Исполняется')
INSERT [dbo].[Statuses] ([ID], [Name]) VALUES (2, N'Отменен')
INSERT [dbo].[Statuses] ([ID], [Name]) VALUES (3, N'Закрыт')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[TransportImages] ON 

SET IDENTITY_INSERT [dbo].[TransportImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Transports] ON 

INSERT [dbo].[Transports] ([ID], [IDBrand], [Model], [Year], [Number], [Date], [DateOff]) VALUES (3, 3, N'Torneo-Dron', 2000, N'TOR 123-345-678', CAST(N'2020-01-20T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Transports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[FunctionsRole]  WITH CHECK ADD  CONSTRAINT [FK_FunctionsRole_Functions] FOREIGN KEY([IDFunction])
REFERENCES [dbo].[Functions] ([ID])
GO
ALTER TABLE [dbo].[FunctionsRole] CHECK CONSTRAINT [FK_FunctionsRole_Functions]
GO
ALTER TABLE [dbo].[FunctionsRole]  WITH CHECK ADD  CONSTRAINT [FK_FunctionsRole_Roles] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FunctionsRole] CHECK CONSTRAINT [FK_FunctionsRole_Roles]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[Statuses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Transports] FOREIGN KEY([IDTrans])
REFERENCES [dbo].[Transports] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Transports]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([IDSupplier])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users1] FOREIGN KEY([IDOperator])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users1]
GO
ALTER TABLE [dbo].[RolesUser]  WITH CHECK ADD  CONSTRAINT [FK_RolesUser_Roles] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesUser] CHECK CONSTRAINT [FK_RolesUser_Roles]
GO
ALTER TABLE [dbo].[RolesUser]  WITH CHECK ADD  CONSTRAINT [FK_RolesUser_Users] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[RolesUser] CHECK CONSTRAINT [FK_RolesUser_Users]
GO
ALTER TABLE [dbo].[TransportImages]  WITH CHECK ADD  CONSTRAINT [FK_TransportImages_Transports] FOREIGN KEY([IDTransport])
REFERENCES [dbo].[Transports] ([ID])
GO
ALTER TABLE [dbo].[TransportImages] CHECK CONSTRAINT [FK_TransportImages_Transports]
GO
ALTER TABLE [dbo].[Transports]  WITH CHECK ADD  CONSTRAINT [FK_Transports_Brands] FOREIGN KEY([IDBrand])
REFERENCES [dbo].[Brands] ([ID])
GO
ALTER TABLE [dbo].[Transports] CHECK CONSTRAINT [FK_Transports_Brands]
GO
USE [master]
GO
